In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats
data = pd.read_csv('data&analysis.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6024 entries, 0 to 6023
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_loc         6024 non-null   int64
 1   zip              6024 non-null   int64
 2   state            6024 non-null   object
 3   high_county_T1   6024 non-null   int64
 4   treated_T1       6024 non-null   int64
 5   urban            6024 non-null   int64
 6   two_weeks_cases  6024 non-null   int64
 7   majority_gop     6024 non-null   int64
dtypes: int64(7), object(1)
memory usage: 376.6+ KB

In [7]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

formula = 'two_weeks_cases ~ C(treated_T1) + C(majority_gop) + C(treated_T1) : C(majority_gop)'
data_low = data.loc[data['high_county_T1']==0]
model_low = ols(formula, data_low).fit()
anova_table = anova_lm(model_low, type=2)
anova_table

,df,sum_sq,mean_sq,F,PR(>F)
C(treated_T1),1.0,3.256024e+04,3.256024e+04,0.863327,3.528866e-01
C(majority_gop),1.0,5.851394e+06,5.851394e+06,155.148256,9.853964e-35
C(treated_T1):C(majority_gop),1.0,1.248377e+04,1.248377e+04,0.331004,5.651130e-01
Residual,2906.0,1.095994e+08,3.771485e+04,NaN,NaN

In [8]:
data_high = data.loc[data['high_county_T1']==1]
model_high = ols(formula, data_high).fit()
anova_table = anova_lm(model_high, type=2)
anova_table

,df,sum_sq,mean_sq,F,PR(>F)
C(treated_T1),1.0,9.399691e+04,9.399691e+04,3.356509,6.703541e-02
C(majority_gop),1.0,5.413382e+06,5.413382e+06,193.304940,1.114009e-42
C(treated_T1):C(majority_gop),1.0,7.853881e+04,7.853881e+04,2.804520,9.409950e-02
Residual,3110.0,8.709358e+07,2.800437e+04,NaN,NaN